<nav class="navbar navbar-default" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="8ball" src="/assets/eight_ball.png" height="80px">
      </a>
      <h2 id="welcome_text">Welcome to the Pool Hall</h2>
    </div>
  </div>
</nav>
