<div class="col-md-8" id="landing">
  <button type="button" class="btn btn-secondary" id="login_button">Log in with TeamSnap<br>
  <br><img id="teamsnap_logo" src="/assets/team_snap_logo.png"/></button>
</div>
<div class="col-md-4">
  <div id="map-container">
    <h3 id="team_snap">TeamSnap</h3><br>
    <div id="my-map"></div><br>
    <p id="team_snap">2040 14th Street, Boulder, CO 80302</p>
  </div>
</div
